<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
    <title><%= title %></title>
</head>
<body>
    <% include ../common/nav_student.ejs%>   
    <div class="container">
        <div class="row">
            <div class="col align-self-end">
                <button class="btn btn-success pull-right mb-2 disabled">添加记录</button>
            </div>
        </div>
     
        <table class="table">
            <caption class="text-white font-weight-bold bg-dark">课程表</caption>
            <tr>
                <th class="Cno">课程号</th>
                <th class="Cname">课程名</th>
                <th class="Ctype">课程类型</th>
                <th class="Tno">教师号</th>
                <th class="Uop">用户操作</th>
            </tr>
            <% for(var i = 0;i<usersData.length;i++){%>
        <tr>
            <td><%=usersData[i].Cno%></td>
            <td><%=usersData[i].Cname%></td>
            <td><%=usersData[i].Ctype%></td>
            <td><%=usersData[i].Tno%></td>
            <td>
                <a href="#">
                    <button class="btn btn-danger disabled">删除</button>
                </a>
                <a href="#">
                    <button class="btn btn-primary disabled">修改</button>
                </a>

            </td>
        </tr>
        <%}%>
        </table>

    </div>
    
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</html>