<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
    <title><%= title %></title>
</head>
<body>
    <% include ../common/nav_student.ejs%>   
    <div class="container">
        <div class="row">
            <div class="col align-self-end">
                <button class="btn btn-success pull-right mb-2"  data-toggle="modal"
                data-target="#addModal">添加记录</button>
            </div>
        </div>
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">添加记录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="?" method="post">
                        <div class="form-group">
                            <label for="Sno">学号</label>
                            <input type="text" class="form-control" name="Sno" id="Sno" autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label for="Cno">课程号</label>
                            <input type="text" class="form-control" name="Cno" id="Cno">
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">放弃添加</button>
                        <button type="submit" class="btn btn-primary">确认添加</button>
                    </form>
                </div>
                <!-- <div class="modal-footer">
 
                </div> -->
            </div>
        </div>
    </div>
        <table class="table">
            <caption class="text-white font-weight-bold bg-dark">选修关系表</caption>
            <tr>
                <th class="Sno">学号</th>
                <th class="Cno">课程号</th>
                <th class="Grade">成绩</th>
                <th class="Uop">用户操作</th>
            </tr>
            <% for(var i = 0;i<usersData.length;i++){%>
            <tr>
                <td><%=usersData[i].Sno%></td>
                <td><%=usersData[i].Cno%></td>
                <td><%=usersData[i].Grade%></td>
                <td>
                    <a href="?action=del&id=<%=  [usersData[i].Sno,usersData[i].Cno]%>" onclick="return confirm('确定删除?')">
                        <button class="btn btn-danger">删除</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-primary disabled">修改</button>
                    </a>
                </td>
            </tr>
            <%}%>
        </table>
    </div>  
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</html>