<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col align-self-end">
                <button class="btn btn-success pull-right mb-2"  data-toggle="modal"
                data-target="#addModal">添加记录</button>
            </div>
        </div>
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">添加记录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="?" method="post" id="sc_form_add">
                        <div class="form-group">
                            <label for="Sno">学号</label>
                            <input type="text" class="form-control" name="Sno" id="Sno" autofocus="autofocus">
                            <div class="invalid-feedback" id="sno-feedback">学号由13个数字组成</div>
                        </div>
                        <div class="form-group">
                            <label for="Cno">课程号</label>
                            <input type="text" class="form-control" name="Cno" id="Cno">
                            <div class="invalid-feedback" id="cno-feedback">课程号由10位数字组成</div>
                        </div>
                        <div class="form-group">
                            <label for="Grade">成绩</label>
                            <input type="text" class="form-control" name="Grade" id="Grade">
                            <div class="invalid-feedback" id="grade-feedback">成绩在0~100之间</div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">放弃添加</button>
                        <button type="submit" class="btn btn-primary">确认添加</button>
                    </form>
                </div>
                <!-- <div class="modal-footer">
 
                </div> -->
            </div>
        </div>
    </div>
    <%if(typeof modData != 'undefined'){%>

        <div class="modal-body">
            <form action="?" method="post" id="sc_form_mod">
                <input type="hidden" name="modified" value="<%= [modData[0].Sno,modData[0].Cno] %>">
                <div class="form-group">
                    <label for="Sno">学号</label>
                    <input type="text" class="form-control" name="Sno" id="Sno" value="<%= modData[0].Sno %>"
                        autofocus="autofocus">
                        <div class="invalid-feedback" id="sno-feedback">学号由13个数字组成</div>
                </div>
                <div class="form-group">
                    <label for="Cno">课程号</label>
                    <input type="text" class="form-control" name="Cno" id="Cno" value="<%= modData[0].Cno %>">
                    <div class="invalid-feedback" id="cno-feedback">课程号由10位数字组成</div>
                </div>
                <div class="form-group">
                    <label for="Grade">成绩</label>
                    <input type="text" class="form-control" name="Grade" id="Grade" value="<%= modData[0].Grade %>">
                    <div class="invalid-feedback" id="grade-feedback">成绩在0~100之间</div>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">放弃修改</button>
                <button type="submit" class="btn btn-primary">保存修改</button>
            </form>
        </div>

        <%}%>
        <table class="table">
            <caption class="text-white font-weight-bold bg-dark">选修关系表</caption>
            <tr>
                <th class="Sno">学号</th>
                <th class="Cno">课程号</th>
                <th class="Grade">成绩</th>
                <th class="Uop">用户操作</th>
            </tr>
            <% for(var i = 0;i<usersData.length;i++){%>
            <tr>
                <td><%=usersData[i].Sno%></td>
                <td><%=usersData[i].Cno%></td>
                <td><%=usersData[i].Grade%></td>
                <td>
                    <a href="?action=del&id=<%=  [usersData[i].Sno,usersData[i].Cno]%>" onclick="return confirm('确定删除?')">
                        <button class="btn btn-danger">删除</button>
                    </a>
                    <a href="?action=mod&id=<%= [usersData[i].Sno,usersData[i].Cno]%>">
                        <button class="btn btn-primary">修改</button>
                    </a>
                </td>
            </tr>
            <%}%>
        </table>
    </div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script>
     $(document).ready(() => {
        var pattern_sno = /^\d{13}$/;
        var pattern_cno = /^\d{10}$/;
        var pattern_grade = /^(?:[1-9]?\d|100)$/;

        function changeSno(){
            if (!pattern_sno.test($("#sc_form_add input[name='Sno']").val())) {
                $("#sc_form_add input[name='Sno']").removeClass("is-valid");
                $("#sc_form_add input[name='Sno']").addClass("is-invalid");
            }
            else {
                $("#sc_form_add input[name='Sno']").removeClass("is-invalid");
                $("#sc_form_add input[name='Sno']").addClass("is-valid");
            }

            if (!pattern_sno.test($("#sc_form_mod input[name='Sno']").val())) {
                $("#sc_form_mod input[name='Sno']").removeClass("is-valid");
                $("#sc_form_mod input[name='Sno']").addClass("is-invalid");

            }
            else {
                $("#sc_form_mod input[name='Sno']").removeClass("is-invalid");
                $("#sc_form_mod input[name='Sno']").addClass("is-valid");
            }
        }

        function changeCno(){
            if (!pattern_cno.test($("#sc_form_add input[name='Cno']").val())) {
                $("#sc_form_add input[name='Cno']").removeClass("is-valid");
                $("#sc_form_add input[name='Cno']").addClass("is-invalid");
            }
            else {
                $("#sc_form_add input[name='Cno']").removeClass("is-invalid");
                $("#sc_form_add input[name='Cno']").addClass("is-valid");
            }

            if (!pattern_cno.test($("#sc_form_mod input[name='Cno']").val())) {
                $("#sc_form_mod input[name='Cno']").removeClass("is-valid");
                $("#sc_form_mod input[name='Cno']").addClass("is-invalid");
            }
            else {
                $("#sc_form_mod input[name='Cno']").removeClass("is-invalid");
                $("#sc_form_mod input[name='Cno']").addClass("is-valid");
            }
        }

        function changeGrade(){
            if (!pattern_grade.test($("#sc_form_add input[name='Grade']").val())) {
                $("#sc_form_add input[name='Grade']").removeClass("is-valid");
                $("#sc_form_add input[name='Grade']").addClass("is-invalid");
            }
            else {
                $("#sc_form_add input[name='Grade']").removeClass("is-invalid");
                $("#sc_form_add input[name='Grade']").addClass("is-valid");
            }

            if (!pattern_grade.test($("#sc_form_mod input[name='Grade']").val())) {
                $("#sc_form_mod input[name='Grade']").removeClass("is-valid");
                $("#sc_form_mod input[name='Grade']").addClass("is-invalid");
            }
            else {
                $("#sc_form_mod input[name='Grade']").removeClass("is-invalid");
                $("#sc_form_mod input[name='Grade']").addClass("is-valid");
            }
        }

        changeSno();
        changeCno();
        changeGrade();

        $("input[name='Sno']").change(() => {
            changeSno();
        });
        $("input[name='Cno']").change(() => {
            changeCno();
        });
        $("input[name='Grade']").change(() => {
            changeGrade();
        });
     });
</script>
</html>