<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col align-self-end">
                <button class="btn btn-success pull-right mb-2"  data-toggle="modal"
                data-target="#addModal">添加记录</button>
            </div>
        </div>
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">添加记录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="?" method="post" id="tc_form_add">
                        <div class="form-group">
                            <label for="Cno">课程号</label>
                            <input type="text" class="form-control" name="Cno" id="Cno" autofocus="autofocus">
                            <div class="invalid-feedback" id="cno-feedback">课程号由10位数字组成</div>
                        </div>
                        <div class="form-group">
                            <label for="Tcontent">教学任务</label>
                            <input type="text" class="form-control" name="Tcontent" id="Tcontent">
                            <div class="invalid-feedback" id="tcontent-feedback">教学任务不能超过200个字符</div>
                        </div>
                    
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">放弃添加</button>
                        <button type="submit" class="btn btn-primary">确认添加</button>
                    </form>
                </div>
                <!-- <div class="modal-footer">
 
                </div> -->
            </div>
        </div>
    </div>
    <%if(typeof modData != 'undefined'){%>

        <div class="modal-body">
            <form action="?" method="post" id="tc_form_mod">
                <input type="hidden" name="modified" value="<%= modData[0].Cno %>">
                <div class="form-group">
                    <label for="Cno">课程号</label>
                    <input type="text" class="form-control" name="Cno" id="Cno" value="<%= modData[0].Cno %>"
                        autofocus="autofocus">
                    <div class="invalid-feedback" id="cno-feedback">课程号由10位数字组成</div>
                </div>
                <div class="form-group">
                    <label for="Tcontent">教学任务</label>
                    <input type="text" class="form-control" name="Tcontent" id="Tcontent" value="<%= modData[0].Tcontent %>">
                    <div class="invalid-feedback" id="tcontent-feedback">教学任务不能超过200个字符</div>
                </div>
               
                <button type="button" class="btn btn-secondary" data-dismiss="modal">放弃修改</button>
                <button type="submit" class="btn btn-primary">保存修改</button>
            </form>
        </div>

        <%}%>
        <table class="table">
            <caption class="text-white font-weight-bold bg-dark">教师任务表</caption>
            <tr>
                <th class="Cno">课程号</th>
                <th class="Tcontent">教学任务</th>
                <th class="Uop">用户操作</th>
            </tr>
            <% for(var i = 0;i<usersData.length;i++){%>
            <tr>
                <td><%=usersData[i].Cno%></td>
                <td><%=usersData[i].Tcontent%></td>
                <td>
                    <a href="?action=del&id=<%=usersData[i].Cno%>" onclick="return confirm('确定删除?')">
                        <button class="btn btn-danger">删除</button>
                    </a>
                    <a href="?action=mod&id=<%=usersData[i].Cno%>">
                        <button class="btn btn-primary">修改</button>
                    </a>
                </td>
            </tr>
            <%}%>
        </table>
    </div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script>

     $(document).ready(() => {
        var pattern_cno = /^\d{10}$/;
        var pattern_tcontent = /^.{0,200}$/;

        function changeCno(){
            if (!pattern_cno.test($("#tc_form_add input[name='Cno']").val())) {
                $("#tc_form_add input[name='Cno']").removeClass("is-valid");
                $("#tc_form_add input[name='Cno']").addClass("is-invalid");
            }
            else {
                $("#tc_form_add input[name='Cno']").removeClass("is-invalid");
                $("#tc_form_add input[name='Cno']").addClass("is-valid");
            }

            if (!pattern_cno.test($("#tc_form_mod input[name='Cno']").val())) {
                $("#tc_form_mod input[name='Cno']").removeClass("is-valid");
                $("#tc_form_mod input[name='Cno']").addClass("is-invalid");
            }
            else {
                $("#tc_form_mod input[name='Cno']").removeClass("is-invalid");
                $("#tc_form_mod input[name='Cno']").addClass("is-valid");
            }
        }

        function changeTcontent(){
            if (!pattern_tcontent.test($("#tc_form_add input[name='Tcontent']").val())) {
                $("#tc_form_add input[name='Tcontent']").removeClass("is-valid");
                $("#tc_form_add input[name='Tcontent']").addClass("is-invalid");
            }
            else {
                $("#tc_form_add input[name='Tcontent']").removeClass("is-invalid");
                $("#tc_form_add input[name='Tcontent']").addClass("is-valid");
            }

            if (!pattern_tcontent.test($("#tc_form_mod input[name='Tcontent']").val())) {
                $("#tc_form_mod input[name='Tcontent']").removeClass("is-valid");
                $("#tc_form_mod input[name='Tcontent']").addClass("is-invalid");
            }
            else {
                $("#tc_form_mod input[name='Tcontent']").removeClass("is-invalid");
                $("#tc_form_mod input[name='Tcontent']").addClass("is-valid");
            }
        }


        changeCno();
        changeTcontent();

        $("input[name='Cno']").change(() => {
            changeCno();
        });

        $("input[name='Tcontent']").change(() => {
            changeTcontent();
        });
     });
</script>
</html>