<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col align-self-end">
                <button class="btn btn-success pull-right mb-2" data-toggle="modal"
                data-target="#addModal">添加记录</button>
            </div>
        </div>
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">添加记录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="?" method="post">
                        <div class="form-group">
                            <label for="Tno">教师号</label>
                            <input type="text" class="form-control" name="Tno" id="Tno" autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label for="Tname">姓名</label>
                            <input type="text" class="form-control" name="Tname" id="Tname">
                        </div>
                        <div class="form-group">
                            <label for="Tposition">职称</label>
                            <select id="Tposition" class="form-control" name="Tposition">
                              <option selected>教授</option>
                              <option>副教授</option>
                              <option>讲师</option>
                              <option>助教</option>
                            </select>
                          </div>
                        <!-- <div class="form-group">
                            <label for="Tposition">职称</label>
                            <input type="text" class="form-control" name="Tposition" id="Tposition">
                        </div> -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">放弃添加</button>
                        <button type="submit" class="btn btn-primary">确认添加</button>
                    </form>
                </div>
                <!-- <div class="modal-footer">
 
                </div> -->
            </div>
        </div>
    </div>
    <%if(typeof modData != 'undefined'){%>

        <div class="modal-body">
            <form action="?" method="post">
                <input type="hidden" name="modified" value="<%= modData[0].Tno %>">
                <div class="form-group">
                    <label for="Tno">教师号</label>
                    <input type="text" class="form-control" name="Tno" id="Tno" value="<%= modData[0].Tno %>"
                        autofocus="autofocus">
                </div>
                <div class="form-group">
                    <label for="Tname">姓名</label>
                    <input type="text" class="form-control" name="Tname" id="Tname" value="<%= modData[0].Tname %>">
                </div>
                <div class="form-group">
                    <label for="Tposition">职称</label>
                    <input type="text" class="form-control" name="Tposition" id="Tposition" value="<%= modData[0].Tposition %>">
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">放弃修改</button>
                <button type="submit" class="btn btn-primary">保存修改</button>
            </form>
        </div>

        <%}%>
        <table class="table">
            <caption class="text-white font-weight-bold bg-dark">教师信息表</caption>
            <tr>
                <th class="Tno">教师号</th>
                <th class="Tname">姓名</th>
                <th class="Tposition">职称</th>
                <th class="Uop">用户操作</th>
            </tr>
            <% for(var i = 0;i<usersData.length;i++){%>
            <tr>
                <td><%=usersData[i].Tno%></td>
                <td><%=usersData[i].Tname%></td>
                <td><%=usersData[i].Tposition%></td>
                <td>
                    <a href="?action=del&id=<%=usersData[i].Tno%>" onclick="return confirm('确定删除?')">
                        <button class="btn btn-danger">删除</button>
                    </a>
                    <a href="?action=mod&id=<%=usersData[i].Tno%>">
                        <button class="btn btn-primary">修改</button>
                    </a>
                </td>
            </tr>
            <%}%>
        </table>
    </div>
</body>
</html>