<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col align-self-end">
                <button class="btn btn-success pull-right mb-2"  data-toggle="modal"
                data-target="#addModal">添加记录</button>
            </div>
        </div>
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">添加记录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="?" method="post" id="user_form_add">
                        <div class="form-group">
                            <label for="Uaccount">用户名</label>
                            <input type="text" class="form-control" name="Uaccount" id="Uaccount" autofocus="autofocus">
                            <div class="invalid-feedback" id="uaccount-feedback">用户名不能超过32个字符，格式为：stu@xxx, tchr@xxx, admin@xxx</div>
                        </div>
                        <div class="form-group">
                            <label for="Upwd">密码</label>
                            <input type="password" class="form-control" name="Upwd" id="Upwd">
                            <div class="invalid-feedback" id="upwd-feedback">用户密码由6~32位字符组成</div>
                        </div>
                        <div class="form-group">
                            <label for="Utype">用户类型</label>
                            <select id="Utype" class="form-control" name="Utype">
                            <option selected disabled value="">--选择用户类型--</option>
                              <option>管理员</option>
                              <option>学生</option>
                              <option>教师</option>
                            </select>
                          </div>
                        <!-- <div class="form-group">
                            <label for="Utype">用户类型</label>
                            <input type="text" class="form-control" name="Utype" id="Utype">
                        </div> -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">放弃添加</button>
                        <button type="submit" class="btn btn-primary">确认添加</button>
                    </form>
                </div>
                <!-- <div class="modal-footer">
 
                </div> -->
            </div>
        </div>
    </div>
    <%if(typeof modData != 'undefined'){%>

        <div class="modal-body">
            <form action="?" method="post" id="user_form_mod">
                <input type="hidden" name="modified" value="<%= modData[0].Uaccount %>">
                <div class="form-group">
                    <label for="Uaccount">用户名</label>
                    <input type="text" class="form-control" name="Uaccount" id="Uaccount" value="<%= modData[0].Uaccount %>"
                        autofocus="autofocus">
                        <div class="invalid-feedback" id="uaccount-feedback">用户名不能超过32个字符，格式为：stu@xxx, tchr@xxx, admin@xxx</div>
                </div>
                <div class="form-group">
                    <label for="Upwd">密码</label>
                    <input type="password" class="form-control" name="Upwd" id="Upwd" value="<%= modData[0].Upwd %>">
                    <div class="invalid-feedback" id="upwd-feedback">用户密码由6~32位字符组成</div>
                </div>
                <div class="form-group">
                    <label for="Utype">用户类型</label>
                <select id="Utype" class="form-control" name="Utype">
                    <option selected><%= modData[0].Utype %></option>
                    <option>管理员</option>
                    <option>学生</option>
                    <option>教师</option>
                  </select>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">放弃修改</button>
                <button type="submit" class="btn btn-primary">保存修改</button>
            </form>
        </div>

        <%}%>
        <table class="table">
            <caption class="text-white font-weight-bold bg-dark">用户表</caption>
            <tr>
                <th class="Uaccount">用户名</th>
                <th class="Upwd">密码</th>
                <th class="Utype">用户类型</th>
                <th class="Uop">用户操作</th>
            </tr>
            <% for(var i = 0;i<usersData.length;i++){%>
            <tr>
                <td><%=usersData[i].Uaccount%></td>
                <td><%=usersData[i].Upwd%></td>
                <td><%=usersData[i].Utype%></td>
                <td>
                    <a href="?action=del&id=<%=usersData[i].Uaccount%>" onclick="return confirm('确定删除?')">
                        <button class="btn btn-danger">删除</button>
                    </a>
                    <a href="?action=mod&id=<%=usersData[i].Uaccount%>">
                        <button class="btn btn-primary">修改</button>
                    </a>
                </td>
            </tr>
            <%}%>
        </table>
    </div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script>
      $(document).ready(() =>{
        var pattern_uaccount = /^(stu|tchr|admin)@[a-zA-Z0-9]{1,10}$/;
        var pattern_upwd = /^.{6,32}$/;

        function changeUaccount(){
            if (!pattern_uaccount.test($("#user_form_add input[name='Uaccount']").val())) {
                $("#user_form_add input[name='Uaccount']").removeClass("is-valid");
                $("#user_form_add input[name='Uaccount']").addClass("is-invalid");
            }
            else {
                $("#user_form_add input[name='Uaccount']").removeClass("is-invalid");
                $("#user_form_add input[name='Uaccount']").addClass("is-valid");
            }

            if (!pattern_uaccount.test($("#user_form_mod input[name='Uaccount']").val())) {
                $("#user_form_mod input[name='Uaccount']").removeClass("is-valid");
                $("#user_form_mod input[name='Uaccount']").addClass("is-invalid");

            }
            else {
                $("#user_form_mod input[name='Uaccount']").removeClass("is-invalid");
                $("#user_form_mod input[name='Uaccount']").addClass("is-valid");
            }
        }
        function changeUpwd(){
            if (!pattern_upwd.test($("#user_form_add input[name='Upwd']").val())) {
                $("#user_form_add input[name='Upwd']").removeClass("is-valid");
                $("#user_form_add input[name='Upwd']").addClass("is-invalid");
            }
            else {
                $("#user_form_add input[name='Upwd']").removeClass("is-invalid");
                $("#user_form_add input[name='Upwd']").addClass("is-valid");
            }

            if (!pattern_upwd.test($("#user_form_mod input[name='Upwd']").val())) {
                $("#user_form_mod input[name='Upwd']").removeClass("is-valid");
                $("#user_form_mod input[name='Upwd']").addClass("is-invalid");

            }
            else {
                $("#user_form_mod input[name='Upwd']").removeClass("is-invalid");
                $("#user_form_mod input[name='Upwd']").addClass("is-valid");
            }
        }
        changeUaccount();
        changeUpwd();

        $("input[name='Uaccount']").change(() => {
            changeUaccount();
        });

        $("input[name='Upwd']").change(() => {
            changeUpwd();
        });
      });
</script>
</html>